@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>

<head>
    <title>Contributor Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <script type="text/javascript">
        var isCaptchaVerified = false;
        var verifyCallback = function (response) {
            isCaptchaVerified = true;
            enableBtn();
        };
        var onloadCallback = function () {
            grecaptcha.render('example3', {
                'sitekey': '@Configuration["CaptchaSettings:CaptchaSiteKey"]',
                'callback': verifyCallback,
                'theme': 'light'
            });
        }
    </script>

    <form action="/Admin/Home/Create" method="post" onsubmit="return validateForm(event)">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">I will post polite and respectful messages</li>
                        <li class="list-group-item">I take full responsibility for my posts</li>
                        <li class="list-group-item">I will obey the law</li>
                        <li class="list-group-item">If I engage in any illegal or disruptive behavior, my posts will be deleted</li>
                    </ul>
                    <div id="example0"></div>
                    <div class="mb-3">
                        <input type="checkbox" id="conf" value="true" name="checkConfirm" class="form-check-input me-2">
                        <label class="form-check-label" for="conf">I agree to the terms and conditions</label>
                    </div>
                   
                    <div id="example3"></div>

                    <button id="idSubmit" type="submit" class="btn btn-primary" disabled>Submit Application</button>
                </div>
            </div>
        </div>
    </form>


    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>

    <script>
        const checkBox = document.getElementById("conf"); // lấy phần tử checkbox bằng id

        function enableBtn() {
            if (isCaptchaVerified) { 
                document.getElementById('idSubmit').disabled = false;
            }
        }

        function validateForm(event) {
            if (!isCaptchaVerified) {
                event.preventDefault();
                alert("Please complete the reCAPTCHA verification.");
                return false;
            }
            if (!checkBox.checked) { // kiểm tra nếu checkbox đã được tích
                document.getElementById('example0').innerHTML = '<span class="text-danger">You need to confirm</span>';
                return false;
            }  
            return true;
        }
    </script>

</body>

</html>
