@using FA.JustBlog.Core.Models;
@model List<Post>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (Post item in Model)
    {
        <tr>
            <td>@item.Id</td>
        </tr>
    }
    
</table>

