@page "/admin/role/updaterole/{handler?}/"
@model TestIdentity.Areas.Identity.Pages.Role.AddModel
@{
    var btnText =Model.IsUpdate ? "Update Role" : "Add new role";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id"/>
            <input type="hidden" asp-for="IsUpdate"/>

            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control">
                <span asp-validation-for="Input.Name" class="text-danger"></span>

                <button id="add-or-edit-role" type="submit" 
                asp-page-handler="AddOrUpdate" class="btn btn-primary">@btnText</button>
                <a class="btn btn-primary" asp-page="./Index">Return List Roles</a>
            </div>
        </form>
    </div>
</div>