<!DOCTYPE html>
<html lang="en">

<head id="ctl00_Head1" itemscope="" itemtype="http://schema.org/WebPage">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <link rel="stylesheet" type="text/css"
          href="share\comment\commentbt.css"> 
</head>

<body>
    <div class="comment">
        <div class="tab-content">
            <div id="nt_comments" class="tab-pane fade in active">
                <div class="comment-wrapper">
                    <div id="comment_form"></div>
                    <div class="comment-list">
                        <div class="item clearfix" id="comment_28297030">
                            <figure class="avatar">
                                <img src="//st.nettruyenvt.com/data/sites/1/useravatars/954391.jpg?v=3399"
                                     alt="Bạch Thuần" class="lazy"
                                     data-original="//st.nettruyenvt.com/data/sites/1/useravatars/954391.jpg?v=3399">
                            </figure>
                            <div class="summary">
                                <i class="fa fa-angle-left fa-arrow">
                                </i>
                                <div class="info">
                                    <div class="comment-header">
                                        <span class="authorname name-5">Bạch Thuần</span>
                                        <span class="member level-5">
                                            <span data-level="5">Cấp 5</span>
                                            <span class="progress-bar" style="width:12%">
                                            </span>
                                        </span>
                                    </div>
                                    <div class="comment-content">Mangaad vhap 62 rồi nè</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>