USE [master]
GO
/****** Object:  Database [FSOFTCompany]    Script Date: 1/11/2023 3:29:09 PM ******/
CREATE DATABASE [FSOFTCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FSOFTCompany', FILENAME = N'D:\NoiChuaPhanMem\MSSQL15.MSSQLSERVER\MSSQL\DATA\FSOFTCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FSOFTCompany_log', FILENAME = N'D:\NoiChuaPhanMem\MSSQL15.MSSQLSERVER\MSSQL\DATA\FSOFTCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FSOFTCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FSOFTCompany]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/11/2023 3:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptNo] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_skill]    Script Date: 1/11/2023 3:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_skill](
	[SkillNo] [int] NOT NULL,
	[EmpNo] [nvarchar](50) NOT NULL,
	[SkillLevel] [tinyint] NOT NULL,
	[RegDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillNo] ASC,
	[EmpNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/11/2023 3:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpNo] [nvarchar](50) NOT NULL,
	[EmpName] [nvarchar](50) NULL,
	[BirthDay] [date] NULL,
	[DeptNo] [int] NULL,
	[MgrNo] [int] NOT NULL,
	[StartDate] [date] NULL,
	[Salary] [money] NULL,
	[Level] [tinyint] NULL,
	[Status] [tinyint] NULL,
	[Note] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 1/11/2023 3:29:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SkillNo] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emp_skill] ADD  DEFAULT (getdate()) FOR [RegDate]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [df1]  DEFAULT ('0') FOR [MgrNo]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [df2]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_DeptNo] FOREIGN KEY([DeptNo])
REFERENCES [dbo].[Department] ([DeptNo])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_DeptNo]
GO
ALTER TABLE [dbo].[Emp_skill]  WITH CHECK ADD CHECK  (([SkillLevel]>=(1) AND [SkillLevel]<=(3)))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Level]>=(1) AND [Level]<=(7)))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Status]>=(0) AND [Status]<=(2)))
GO
USE [master]
GO
